<?xml version="1.0"?>
<phpunit
    bootstrap="./Bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
>
    <testsuite name="SlmCache">
        <directory>./</directory>
    </testsuite>
</phpunit>